scriptLanguage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.projects.science.uu.nl/communicate13/ns/script"
	xmlns:tns="http://www.projects.science.uu.nl/communicate13/ns/script"
	elementFormDefault="qualified"
	version="7">
	<element name="script">
		<complexType>
			<sequence>
				<element name="metadata" maxOccurs="1" minOccurs="1">
					<annotation>
						<documentation>
							Data that describes the script, but is not part of it.
						</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="id" type="ID">
								<annotation>
									<documentation>
										The Ideas-approved ID of the script.
									</documentation>
								</annotation>
							</element>
							<element name="name" type="string">
								<annotation>
									<documentation>
										The name of the script.
									</documentation>
								</annotation>
							</element>
							<element name="date" type="date">
								<annotation>
									<documentation>
										The date the script was	published.
									</documentation>
								</annotation>
							</element>
							<element name="description" type="string">
								<annotation>
									<documentation>
										A free-form description of the script.
									</documentation>
								</annotation>
							</element>
							<element name="difficulty">
								<annotation>
									<documentation>
										The difficulty level of the script.
									</documentation>
								</annotation>
								<simpleType>
									<restriction base="string">
										<enumeration value="very_easy" />
										<enumeration value="easy" />
										<enumeration value="medium" />
										<enumeration value="difficult" />
										<enumeration value="very_difficult" />
									</restriction>
								</simpleType>
							</element>
							<element name="model">
								<annotation>
									<documentation>
										A specification of the model to be used as the
										representation of the computer character.
									</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name="premadeModel">
											<annotation>
												<documentation>
													A reference to a premade model.
												</documentation>
											</annotation>
											<complexType>
												<attribute name="extid" type="ID" use="required" />
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
							<element name="start">
								<annotation>
									<documentation>
										A reference to the first computer sentence of the script.
									</documentation>
								</annotation>
								<complexType>
									<attribute name="idref" type="IDREF" use="required" />
								</complexType>
							</element>
							<element name="parameters">
								<annotation>
									<documentation>
										A list of all parameters referenced in the script.
									</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name="parameter" maxOccurs="unbounded" minOccurs="0">
											<annotation>
												<documentation>
													A parameter to be referenced in the script.
												</documentation>
											</annotation>
											<complexType>
												<attribute name="id" type="ID" use="required" />
												<attribute name="emotionid" type="string" use="optional">
													<annotation>
														<documentation>
															The external ID of the emotion that
															this parameter represents.
														</documentation>
													</annotation>
												</attribute>
												<attribute name="name" type="string" use="optional">
													<annotation>
														<documentation>
															A human-readable name for the
															parameter.
														</documentation>
													</annotation>
												</attribute>
												<attribute name="initialValue" type="int" use="optional">
													<annotation>
														<documentation>
															The initial value of the parameter.
															When missing, the initial value is 0.
														</documentation>
													</annotation>
												</attribute>
												<attribute name="scored" type="boolean" use="optional">
													<annotation>
														<documentation>
															Whether the parameter will be shown on
															the score screen.
														</documentation>
													</annotation>
												</attribute>
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<choice maxOccurs="unbounded" minOccurs="0">
					<element name="computerStatement">
						<annotation>
							<documentation>
								A statement of the computer character.
							</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="tns:statementType">
									<sequence>
										<element ref="tns:responses" />
									</sequence>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="playerStatement">
						<annotation>
							<documentation>
								A statement of the player character.
							</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="tns:statementType">
									<sequence>
										<element name="intents" minOccurs="0" maxOccurs="1">
											<annotation>
												<documentation>
													A list of intents of this statement.
												</documentation>
											</annotation>
											<complexType>
												<sequence>
													<element name="intent" minOccurs="1" maxOccurs="unbounded">
                                                        <complexType>
                                                        	<attribute name="name" type="string" use="required" />
                                                        </complexType>
													</element>
												</sequence>
											</complexType>
										</element>
										<element name="effects" minOccurs="0" maxOccurs="1">
											<annotation>
												<documentation>
													A list of effects of this statement on
													the	parameters.
												</documentation>
											</annotation>
											<complexType>
												<sequence>
													<element name="effect" maxOccurs="unbounded" minOccurs="0">
														<annotation>
															<documentation>
																An effect of this statement
																on a parameter.
															</documentation>
														</annotation>
														<complexType>
															<attribute name="idref" type="IDREF" use="required" />
															<attribute name="changeType" use="required">
																<simpleType>
																	<restriction base="string">
																		<enumeration value="set" />
																		<enumeration value="delta" />
																	</restriction>
																</simpleType>
															</attribute>
															<attribute name="value" type="string" use="required" />
														</complexType>
													</element>
												</sequence>
											</complexType>
										</element>
										<group ref="tns:nextComputerStatementGroup" />
									</sequence>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="conversation">
						<annotation>
							<documentation>
								A sequence of statements to be displayed in succession.
							</documentation>
						</annotation>
						<complexType>
							<sequence>
								<group minOccurs="0" maxOccurs="1" ref="tns:mediaGroup" />
								<choice maxOccurs="unbounded" minOccurs="1">
									<element name="situationText" type="string" />
									<element name="computerText" type="string" />
									<element name="playerText" type="string" />
								</choice>
								<group ref="tns:editingDataGroup" />
                                <element ref="tns:responses" />
							</sequence>
							<attribute name="id" type="ID" use="required" />
						</complexType>
					</element>
				</choice>
				<element name="scoringFunction" type="tns:singleScoringFunctionType">
					<annotation>
						<documentation>
							A function that determines the player's score based	on parameter
							values.
						</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>

		<key name="parameterid">
			<selector xpath="./tns:metadata/tns:parameters/tns:parameter" />
			<field xpath="@id" />
		</key>
		<key name="computerStatementid">
			<selector xpath="./tns:computerStatement" />
			<field xpath="@id" />
		</key>
		<key name="playerStatementid">
			<selector xpath="./tns:playerStatement" />
			<field xpath="@id" />
		</key>
		<key name="computerStatementidOrConversationid">
			<selector xpath="./tns:computerStatement|./tns:conversation" />
			<field xpath="@id" />
		</key>
		<key name="playerStatementidOrConversationid">
			<selector xpath="./tns:playerStatement|./tns:conversation" />
			<field xpath="@id" />
		</key>
		<keyref name="startid" refer="tns:computerStatementidOrConversationid">
			<selector xpath="./tns:metadata/tns:start" />
			<field xpath="@idref" />
		</keyref>
		<keyref name="parameteridref" refer="tns:parameterid">
			<selector xpath=".//tns:condition|.//tns:effect|.//tns:paramRef" />
			<field xpath="@idref" />
		</keyref>
		<keyref name="responseid" refer="tns:playerStatementidOrConversationid">
			<selector xpath=".//tns:response" />
			<field xpath="@idref" />
		</keyref>
		<keyref name="nextComputerStatementid" refer="tns:computerStatementidOrConversationid">
			<selector xpath=".//tns:nextComputerStatement" />
			<field xpath="@idref" />
		</keyref>
	</element>

	<complexType name="singleConditionType">
		<group ref="tns:conditionGroup" minOccurs="1" maxOccurs="1" />
	</complexType>
	<complexType name="conditionsType">
		<group ref="tns:conditionGroup" minOccurs="1" maxOccurs="unbounded" />
	</complexType>
	<complexType name="singleScoringFunctionType">
		<group ref="tns:scoringFunctionGroup" minOccurs="1" maxOccurs="1" />
	</complexType>
	<complexType name="scoringFunctionsType">
		<group ref="tns:scoringFunctionGroup" minOccurs="1" maxOccurs="unbounded" />
	</complexType>
	<complexType name="statementType" abstract="true">
		<sequence>
			<element name="text" type="string" />
			<group minOccurs="0" maxOccurs="1" ref="tns:editingDataGroup" />
			<group minOccurs="0" maxOccurs="1" ref="tns:mediaGroup" />
			<element minOccurs="0" maxOccurs="1" name="preconditions"
				type="tns:singleConditionType">
				<annotation>
					<documentation>
						The statement will only be shown when these preconditions evaluate to true.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="id" type="ID" use="required" />
		<attribute name="possibleEnd" type="boolean" use="optional">
			<annotation>
				<documentation>
					Whether the scenario can end after this statement.
				</documentation>
			</annotation>
		</attribute>
	</complexType>
	<complexType name="nextComputerStatementType">
		<attribute name="idref" type="string" use="required" />
	</complexType>

	<group name="conditionGroup">
		<choice>
			<element name="and" type="tns:conditionsType">
				<annotation>
					<documentation>
						A set of conditions, all of which need to be satisfied.
					</documentation>
				</annotation>
			</element>
			<element name="or" type="tns:conditionsType">
				<annotation>
					<documentation>
						A set of conditions, one of which needs to be satisfied.
					</documentation>
				</annotation>
			</element>
			<element name="condition">
				<annotation>
					<documentation>
						A condition that applies a test to a parameter value.
					</documentation>
				</annotation>
				<complexType>
					<attribute name="idref" type="string" use="required" />
					<attribute name="test" use="required">
						<simpleType>
							<restriction base="string">
								<enumeration value="equalTo" />
								<enumeration value="notEqualTo" />
								<enumeration value="lessThanEqualTo" />
								<enumeration value="lessThan" />
								<enumeration value="greaterThan" />
								<enumeration value="greaterThanEqualTo" />
							</restriction>
						</simpleType>
					</attribute>
					<attribute name="value" type="string" use="required" />
				</complexType>
			</element>
		</choice>
	</group>
	<group name="scoringFunctionGroup">
		<choice>
			<element name="constant">
				<annotation>
					<documentation>
						A scoring function that yields the given value.
					</documentation>
				</annotation>
				<complexType>
					<attribute name="value" type="int" use="required" />
				</complexType>
			</element>
			<element name="sum" type="tns:scoringFunctionsType">
				<annotation>
					<documentation>A sum of scoring functions.</documentation>
				</annotation>
			</element>
			<element name="scale">
				<annotation>
					<documentation>A scaling of a scoring function.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="tns:singleScoringFunctionType">
							<attribute name="scalar" type="int" use="required" />
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="paramRef">
				<annotation>
					<documentation>
						A scoring function that yields the value of the given parameter.
					</documentation>
				</annotation>
				<complexType>
					<attribute name="idref" type="IDREF" use="required" />
				</complexType>
			</element>
			<element name="integeredCondition" type="tns:singleConditionType">
				<annotation>
					<documentation>
						A scoring function that converts a condition from Boolean to Int,
						mapping True to 1 and False to 0.
					</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<group name="mediaGroup">
		<choice>
			<element name="video">
				<complexType>
					<attribute name="extid" type="string" use="required" />
				</complexType>
			</element>
			<element name="audio">
				<complexType>
					<attribute name="extid" type="string" use="required" />
				</complexType>
			</element>
		</choice>
	</group>
	<group name="nextComputerStatementGroup">
		<choice>
			<element name="nextComputerStatement" type="tns:nextComputerStatementType">
				<annotation>
					<documentation>
						The computer statement that follows this player statement.
					</documentation>
				</annotation>
			</element>
			<element name="nextComputerStatements">
				<complexType>
					<sequence>
						<element name="nextComputerStatement" type="tns:nextComputerStatementType"
							minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>
									A computer statement that could follow this player statement.
								</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
		</choice>
	</group>
	<!-- TODO: This doesn't belong in this schema. Can it be separated out? -->
	<group name="editingDataGroup">
		<sequence>
			<element name="position" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						The position of a shape representing the enclosing element in a graphical
						editor.
					</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="x" type="double"></element>
						<element name="y" type="double"></element>
					</sequence>
				</complexType>
			</element>
			<element name="comment" minOccurs="0" maxOccurs="1" type="string" />
		</sequence>
	</group>

	<element name="responses">
		<annotation>
			<documentation>
				The possible responses for this statement.
				When this element is missing, all responses are considered possible.
				When this element is empty, it expresses that there are no possible responses.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element minOccurs="0" maxOccurs="unbounded" name="response">
					<complexType>
						<attribute name="idref" type="string" use="required" />
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>	
</schema>